body {
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHVURw4JDwuejv_omhJ4ltdzGmt5ugpWUQGg&s);}

h1 {color: white; text-align: center;font: 40px;}
img { border: 4px solid black;padding: 10px;}

p {font-family: Arial, Helvetica, sans-serif;font-size: 20px;}